root = true

[*.{cs,csx}]
charset = utf-8-bom
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# C# style rules
[*.cs]
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
csharp_new_line_before_open_brace = all
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

# Enforce cleanup rules
dotnet_diagnostic.IDE0005.severity = warning   # Remove unused using directives
dotnet_diagnostic.IDE0060.severity = suggestion # Remove unused parameters
dotnet_diagnostic.IDE0044.severity = suggestion # Make fields readonly if possible
dotnet_diagnostic.IDE0049.severity = suggestion # Use var or explicit types according to style

# XAML style rules
[*.xaml]
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Project and solution files
[*.{csproj,sln,props,targets}]
end_of_line = lf
insert_final_newline = true
